<div class="card card-body">
    <div class="container-fluid container-limit">
        <div class="row tes">
            <div class="col-md-4 format-menu text-primary">
                Produtos por Categoria
                <ul class="rack">
                    <meta itemprop="name" content="Roupas Femininas">
                    <li><a itemprop="url" href="{{ main.urlBase }}" title="Pagina">Roupas Femininas<br></a></li>
                    <meta itemprop="name" content="Roupas Masculinas">
                    <li><a itemprop="url" href="{{ main.urlBase }}" title="Pagina">Roupas Masculina</a></li>
                    <meta itemprop="name" content="Roupas Infantis">
                    <li><a itemprop="url" href="{{ main.urlBase }}" title="Pagina">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li>
                    <li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roupas Infantil</a></li>
                    <li><a href="#">Roupas Evangélica</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness</a></li><li><a href="#">Roupas Femininas<br></a></li>
                    <li><a href="#">Roupas Masculina</a></li>
                    <li><a href="#">Roup</a></li>
                    <li><a href="#">-Rou-</a></li>
                    <li><a href="#">Roupas Íntima</a></li>
                    <li><a href="#">Roupas Fitness Fim</a></li>
                </ul>

            </div>

            <div class="col-md-4 format-menu text-primary">
                Lojas por Categoria
                <ul class="rack">
                    <li><a href="#">Moda Feminina</a></li>
                    <li><a href="#">Moda Masculina</a></li>
                    <li><a href="#">Moda Infantil</a></li>
                    <li><a href="#">Fabricação de Calçados</a></li>
                    <li><a href="#">Bijuterias</a></li>
                    <li><a href="#">Moda Fitness</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <img class="img-fluid" src="{{ main.urlImage }}/ads.png" alt="Second slide">
            </div>
        </div>
    </div>
</div>